<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESP32 LED Control</title>
</head>
<body>
    <h1>TEST PAGE</h1>
    <button id="onButton">Enable</button>
    <button id="offButton">Disable</button>

    <script>
        // Connect to Flask Socket.IO server
        //var socket = io.connect('http://' + document.domain + ':' + location.port);

        // Button event listeners
        //document.getElementById("onButton").addEventListener("click", function() {
         //   socket.emit('toggle_motor', 'ON');
        //});

        // document.getElementById("offButton").addEventListener("click", function() {
          //  socket.emit('toggle_motor', 'OFF');
       // });

        // Listen for updates from Flask
        //socket.on('toggle_motor', function(data) {
          //  document.getElementById("status").innerText = data;
        //});
    </script>
</body>
</html>